:root {
    // Header //
    --header-text-color: #ffffff;
    --header-text-hover-color: #d41443;
    --header-mobile-tab-background-color: #e17992;
    --header-desktop-background-color: #ffb8ca;
    --header-menu-burger-color: #e17992;
    --header-menu-close-color: #ffffff;

    // Hero //

    --hero-main-text-color: #ffffff;
    --second-hero-color: #d41443;
    --hero-text-color: #ffffff;
    --hero-background-color: #ffb8ca;

    // sections general //

    --section-label-text-color: #ffa5ba;
    --section-head-text-color: #d41443;
    --section-text-main-color: #000000;
    --section-text-second-color: #907e82;
    --section-background-coloured-color: #fff5f6;
    --section-text-on-dark-bg-color: #ffffff;

    // Products //

    --first-product-background-color: #ffb8ca;
    --second-product-background-color: #f0d1a5;
    --third-product-background-color: #c2e297;

    // Customers Reviews // 

    --slider-dots-small: #c7133e;
    --slider-dots-main: #d9d9d9;
    --slider-active: #d31342;
    --quote-icon-fill-color: #e1e1e1;

    // contacts // 

    --first-contact-background-color: #f0d1a5;
    --second-contact-background-color: #c2e297;
    --working-hours-text-color: #ffa5ba;
    --line-divider-color: #e1e1e1;

    // Footer // 

    --fouter-first-head-text-color: #ffa5ba;
    --footer-second-head-text-color: #d41443;
    --footer-phone-number-color: #d41443;
    --social-icons-background-hover-color: #fea5bb;
    --social-icons-fill-color: #ffffff;

    // BUTTONS // 

    --header-button-text-color: #d41443;
    --header-button-background-color: #ffffff;
    --header-button-bg-hover-color: #ecebeb;
    --open-more-button-icon: #d41443; //кругла крапочка в хіро та продуктс // 
    --section-button-dark-text-color: #ffffff;
    --section-button-dark-background-color: #d41342;
    --section-button-dark-bg-hover-color: #c7133e;
    --section-light-background-color: #ffffff;
    --section-light-bg-hover-color: #ecebeb;
}