<section class="contacts">
  <div class="container contacts__container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts__item category">
        <p class="category__name">CAFE</p>
        <ul class="about-category">
          <li class="about-category__item list">
            <p class="about-category__name">Chicago</p>
            <p class="about-category__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
          <li class="about-category__item list">
            <div class="schedule schedule__weekdays">
              <p class="schedule__days">Monday - Friday</p>
              <p class="schedule__time">06:00 AM - 10:00 PM</p>
            </div>
            <div class="schedule schedule__weekends">
              <p class="schedule__days">Saturday - Sunday</p>
              <p class="schedule__time">08:00 AM - 16:00 PM</p>
            </div>
          </li>
          <li class="about-category__item list">
            <a href="tel:+61(0)383766284" class="category__link link">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com" class="category__link link">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__item category">
        <p class="category__name-another">FOODTRUCK</p>
        <ul class="about-category">
          <li class="about-category__item list">
            <p class="about-category__name">Los Angeles</p>
            <p class="about-category__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
          <li class="about-category__item list">
            <div class="schedule schedule__weekdays">
              <p class="schedule__days">Monday - Friday</p>
              <p class="schedule__time">06:00 AM - 10:00 PM</p>
            </div>
            <div class="schedule schedule__weekends">
              <p class="schedule__days">Saturday - Sunday</p>
              <p class="schedule__time">08:00 AM - 16:00 PM</p>
            </div>
          </li>
          <li class="about-category__item list">
            <a href="tel:+61(0)383766284" class="category__link link">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com" class="category__link link">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__item category">
        <p class="category__name">CAFE</p>
        <ul class="about-category">
          <li class="about-category__item list">
            <p class="about-category__name">Chicago</p>
            <p class="about-category__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
          <li class="about-category__item list">
            <div class="schedule schedule__weekdays">
              <p class="schedule__days">Monday - Friday</p>
              <p class="schedule__time">06:00 AM - 10:00 PM</p>
            </div>
            <div class="schedule schedule__weekends">
              <p class="schedule__days">Saturday - Sunday</p>
              <p class="schedule__time">08:00 AM - 16:00 PM</p>
            </div>
          </li>
          <li class="about-category__item list">
            <a href="tel:+61(0)383766284" class="category__link link">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com" class="category__link link">noreply@envato.com</a>
          </li>
        </ul>
      </li>

    </ul>
    <ul class="list contacts__buttons buttons-list">
      <li class="buttons-list__item">
        <button type="button" class="btn buttons-list__item--red">Our Locations
          <span class="buttons-list__item-arrow--white">
            <svg class="svg" width="8" height="8">
              <use href='./images/icons.svg#icon-vector' width="10" height="6"></use>
            </svg>
          </span>
        </button>
      </li>
      <li class="buttons-list__item">
        <button type="button" class="btn buttons-list__item--white">Franchise
          <span class="buttons-list__item-arrow--red">
            <svg class="svg" width="8" height="8">
              <use href='./images/icons.svg#icon-vector' width="10" height="6"></use>
            </svg>
          </span>
        </button>
      </li>
    </ul>
    </li>
    </ul>

  </div>

</section>