<section class="contacts">
  <div class="container contacts__container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts__item category">
        <p class="category__name">CAFE</p>
        <ul class="about-category">
          <li class="about-category__item list">Chicago
            <p class="about-category__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
          <li class="about-category__item list">
            <div>
              <p class="schedule__days">Monday - Friday></p>
              <p class="schedule__time">06:00 AM - 10:00 PM</p>
            </div>
            <div>
              <p class="schedule__days">Saturday - Sunday></p>
              <p class="schedule__time">08:00 AM - 16:00 PM</p>
            </div>          
          </li>
          <li class="about-category__item list">
            <a href="tel:+61(0)383766284" class="category__link link">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com" class="category__link link">noreply@envato.com</a>
          </li>
        </ul>  
      </li>
      <li class="contacts__item category">
        <p class="category__name-another">FOODTRUCK</p>
        <ul class="about-category">
          <li class="about-category__item list">Los Angeles
            <p class="about-category__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
          <li class="about-category__item list">
            <div>
              <p class="schedule__days">Monday - Friday></p>
              <p class="schedule__time">06:00 AM - 10:00 PM</p>
            </div>
            <div>
              <p class="schedule__days">Saturday - Sunday></p>
              <p class="schedule__time">08:00 AM - 16:00 PM</p>
            </div>
          </li>
          <li class="about-category__item list">
            <a href="tel:+61(0)383766284" class="category__link link">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com" class="category__link link">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__item category">
        <p class="category__name">CAFE</p>
        <ul class="about-category">
          <li class="about-category__item list">New York
            <p class="about-category__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
          <li class="about-category__item list">
            <div>
              <p class="schedule__days">Monday - Friday></p>
              <p class="schedule__time">06:00 AM - 10:00 PM</p>
            </div>
            <div>
              <p class="schedule__days">Saturday - Sunday></p>
              <p class="schedule__time">08:00 AM - 16:00 PM</p>
            </div>
          </li>
          <li class="about-category__item list">
            <a href="tel:+61(0)383766284" class="category__link link">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com" class="category__link link">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      
    </ul>
  </div>
  <p class="contacts">hello contacts</p>
</section>
